<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenjianwen.dao.PermissionMapper" >

  <resultMap id="BaseResultMap" type="com.chenjianwen.model.Permission" >
    <id column="pid" property="pid" jdbcType="BIGINT" />
    <result column="permission_name" property="permissionName" jdbcType="VARCHAR" />
    <result column="url" property="url" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    pid, permission_name, url
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from permission
    where pid = #{pid,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from permission
    where pid = #{pid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.chenjianwen.model.Permission" >
    insert into permission (pid, permission_name, url
      )
    values (#{pid,jdbcType=BIGINT}, #{permissionName,jdbcType=VARCHAR}, #{url,jdbcType=VARCHAR}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.chenjianwen.model.Permission" >
    insert into permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        pid,
      </if>
      <if test="permissionName != null" >
        permission_name,
      </if>
      <if test="url != null" >
        url,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
      <if test="permissionName != null" >
        #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        #{url,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.chenjianwen.model.Permission" >
    update permission
    <set >
      <if test="permissionName != null" >
        permission_name = #{permissionName,jdbcType=VARCHAR},
      </if>
      <if test="url != null" >
        url = #{url,jdbcType=VARCHAR},
      </if>
    </set>
    where pid = #{pid,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.chenjianwen.model.Permission" >
    update permission
    set permission_name = #{permissionName,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR}
    where pid = #{pid,jdbcType=BIGINT}
  </update>
</mapper>