<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenjianwen.dao.RolePermissionMapper" >

  <resultMap id="BaseResultMap" type="com.chenjianwen.model.RolePermission" >
    <result column="rid" property="rid" jdbcType="BIGINT" />
    <result column="pid" property="pid" jdbcType="BIGINT" />
  </resultMap>

  <insert id="insert" parameterType="com.chenjianwen.model.RolePermission" >
    insert into role_permission (rid, pid)
    values (#{rid,jdbcType=BIGINT}, #{pid,jdbcType=BIGINT})
  </insert>

  <insert id="insertSelective" parameterType="com.chenjianwen.model.RolePermission" >
    insert into role_permission
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>

  <!-- 查询角色权限关系信息 -->
  <select id="selectRolePermission" parameterType="com.chenjianwen.model.RolePermission" resultMap="BaseResultMap">
    SELECT
    rid,pid
    FROM role_permission
    WHERE 1=1
    <if test="rid != null">
      AND rid = #{rid,jdbcType=BIGINT}
    </if>
    <if test="pid != null">
      AND pid = #{pid,jdbcType=BIGINT}
    </if>
  </select>
</mapper>