<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.chenjianwen.dao.RoleMapper" >

  <resultMap id="BaseResultMap" type="com.chenjianwen.model.Role" >
    <id column="rid" property="rid" jdbcType="BIGINT" />
    <result column="role_name" property="roleName" jdbcType="VARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    rid, role_name
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from role
    where rid = #{rid,jdbcType=BIGINT}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from role
    where rid = #{rid,jdbcType=BIGINT}
  </delete>

  <insert id="insert" parameterType="com.chenjianwen.model.Role" >
    insert into role (rid, role_name)
    values (#{rid,jdbcType=BIGINT}, #{roleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.chenjianwen.model.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        rid,
      </if>
      <if test="roleName != null" >
        role_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="rid != null" >
        #{rid,jdbcType=BIGINT},
      </if>
      <if test="roleName != null" >
        #{roleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.chenjianwen.model.Role" >
    update role
    <set >
      <if test="roleName != null" >
        role_name = #{roleName,jdbcType=VARCHAR},
      </if>
    </set>
    where rid = #{rid,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="com.chenjianwen.model.Role" >
    update role
    set role_name = #{roleName,jdbcType=VARCHAR}
    where rid = #{rid,jdbcType=BIGINT}
  </update>
</mapper>